.single-rated-spa {
  border-bottom: 1px solid #4e4e4e;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
  border: 2px solid #c4c4c4;
  &:first-child {
    margin-top: 0;
  }
  .spa-link {

  }
  .rated-comment {

  }
  .rating-stars {

  }
  .rating-date {
    display: block;
    clear: both;
  }
}